extends ./../common/_base2.pug
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/sliderlight/lightslider.css`)
block content
	section.b1home
		a(href="#").b1home_mouse
			<div class="svgMouse">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 29 40" xml:space="preserve">
					<g id="Layer_1">
						<path d="M14.5,0c-7.7,0-14,6.4-14,14.3v11.4c0,7.9,6.3,14.3,14,14.3c7.8,0,14.1-6.4,14.1-14.3V14.3C28.5,6.4,22.2,0,14.5,0zM26,25.7c0,6.4-5.2,11.7-11.5,11.7S3,32.1,3,25.7V14.3C3,7.9,8.2,2.6,14.5,2.6C20.8,2.6,26,7.9,26,14.3V25.7z"/>
					</g>
					<g id="Layer_2">
						<path d="M14.5,10.9c-0.7,0-1.3,0.6-1.3,1.3v4.6c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3v-4.6C15.8,11.5,15.2,10.9,14.5,10.9z"/>
					</g>
				</svg>
			</div>
			span.b1home_text_scroll scroll  down
		.b1home_slider
			ul.b1homeSliderBanner
				- for (var i = 0; i < 3; i++ )
					li.b1home_slider_item
						figure(class="b1home_banner bannerChangeJS" data-image=`${STATIC_URL}img/banner.png;${STATIC_URL}img/table.jpg;${STATIC_URL}img/mobil.jpg`)
							.b1home_content_box.ww_center
								.b1home_title
									p|¡Anima tu fiesta!
								.b1home_subtitle
									p|Videojuegos, Baile y Karaoke
block scripts
	script(src=`${STATIC_URL}js/sliderlight/lightslider.js`)
	script.
		function changeImage(banners){
		   var win = window.innerWidth;
		   var elementImg = document.querySelectorAll(banners);
		   for(var i = 0; i < elementImg.length; i++){
		      var forElement = elementImg[i]
		      if (forElement.hasAttribute('data-image')){
		         var dataImg = forElement.getAttribute('data-image').split(';');
		         if(win > 1024){
		            forElement.style.backgroundImage = 'url('+dataImg[0]+')'
		         }
		         if(win <= 1024){
		            forElement.style.backgroundImage = 'url('+dataImg[1]+')'
		         }
		         if(win <= 620){
		            forElement.style.backgroundImage = 'url('+dataImg[2]+')'
		         }
		      } else{
		         return false
		      }
		   }
		};
		changeImage('.bannerChangeJS');
		window.onresize = function(){
			changeImage('.bannerChangeJS');
		};
		$(document).ready(function() {
			$('.b1homeSliderBanner').lightSlider({
				item:1,
				mode: 'fade',
				controls: false,
				pager: false,
				auto: true,
				pause:4000,
				loop:false,
				easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
				speed:1200,
			});
		});
