extends ./../common/_base2.pug
append css
block content
	section.b2home(style=`background-image:url('${STATIC_URL}img/banner-b2.jpg');`)
		.b2home_container.ww_center
			.b2home_title
				h2 ¿Estás organizando <br> una fiesta?
			.b2home_text
				p|Nosotros te ayudamos con la diversión!
			.b2home_btns
				.b2home_btn_one.b2home_btn_x
					a(href="#") 
						p|Estaciones musicales
						span.icon-close2
				.b2home_btn_one.b2home_btn_circle
					a(href="#") 
						p|Estaciones de juegos
						span.icon-circle
block scripts
	script.
