extends ./../common/_base2.pug
append css
block content
	
	section.b3home
		.b3home_container.ww_center
			.b3home_title
				h2 Estaciones musicales
			.b3home_content
				.b3home_image
					.b3home_deco
						img(src=`${STATIC_URL}img/b3home-cuadrado.png`, alt="", width="186", height="186")
					.b3home_image_box
						img(src=`${STATIC_URL}img/b3home-img.png`, alt="", width="617", height="353")
				.b3home_info
					.b3home_item
						.b3home_icon
							img(src=`${STATIC_URL}img/b3home-icon1.png`, alt="", width="65", height="65")
						.b3home_subtitle
							h3 Estación Play Station
						.b3home_list
							ul
								li - Consola PlayStation 4
								li - 04 mandos
								li - Discos de juego
								li - TV con rack.
						.b3home_link
							a(href="" class="b3home_link_btn") Escríbenos
								span.icon-next
					.b3home_item
						.b3home_icon
							img(src=`${STATIC_URL}img/b3home-icon2.png`, alt="", width="65", height="65")
						.b3home_subtitle
							h3 Estación Nintendo Switch
						.b3home_list
							ul
								li - Consola WiiU + GamePad(Tablet)
								li - 04 mandos
								li - Discos de juego
								li - TV con rack.
						.b3home_link
							a(href="" class="b3home_link_btn") Escríbenos
								span.icon-next


block scripts
	script.
		$(function(){});	