extends ./../common/_base2.pug
append css
block content
	
	section.b4home
		.b4home_container.ww_center
			.b4home_title
				h2 Estaciones de juego
			.b4home_content
				.b4home_image
					.b4home_deco
						img(src=`${STATIC_URL}img/b4home-circle.png`, alt="", width="206", height="205")
					.b4home_image_box
						img(src=`${STATIC_URL}img/b4home-img.png`, alt="", width="617", height="353")
				.b4home_info
					.b4home_item
						.b4home_icon
							img(src=`${STATIC_URL}img/b4home-icon1.png`, alt="", width="65", height="65")
						.b4home_subtitle
							h3 Estación Play Station
						.b4home_list
							ul
								li - Consola PlayStation 4
								li - 04 mandos
								li - Discos de juego
								li - TV con rack.
						.b4home_link
							a(href="" class="b4home_link_btn") Escríbenos
								span.icon-next
					.b4home_item
						.b4home_icon
							img(src=`${STATIC_URL}img/b4home-icon2.png`, alt="", width="65", height="65")
						.b4home_subtitle
							h3 Estación Nintendo Switch
						.b4home_list
							ul
								li - Consola WiiU + GamePad(Tablet)
								li - 04 mandos
								li - Discos de juego
								li - TV con rack.
						.b4home_link
							a(href="" class="b4home_link_btn") Escríbenos
								span.icon-next


block scripts
	script.
		$(function(){});	