extends ./../common/_base2.pug

append css

block content
	section(style="background:#000; height:400px;")
	section.b5home#b5home_anima
		.b5home_full
			.b5home_container.ww_center
				.b5home_portada(data-parallax='{"y" : 30, "smoothness": 0, "duration": 1}')
					figure.b5home_img
						img(src=`${STATIC_URL}img/b5home-img.png` width="525" height="641" alt="")
					figure.b5home_circle
						img(src=`${STATIC_URL}img/b5home-circle.png` width="588" height="586" alt="")
				.b5home_info(data-parallax='{"y" : -30, "smoothness": 0, "duration": 1}')
					.b5home_text
						p.
							Somos <strong>EL CLUB STATION®</strong> y nos encanta animar fiestas infantiles con videojuegos, juegos de baile y karaoke.
						p.
							Nuestro servicio se renueva siempre: tendrás los juegos más populares y recientes para tus chicos.
					.b5home_ancla
						a(href="#").b5home_btn Escríbenos
	section(style="background:#000; height:400px;")

block scripts
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/jquery.parallax-scroll.js`)
	script.
		$(function(){
			var b5homeAnima = $('#b5home_anima');
			b5homeAnima.waypoint(function(direction) {
				if (direction === 'down') {
					$('.b5home').addClass('active');
				}
			}, {
				offset:'80%'
			});
		});
