extends ./../common/_base2.pug
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
block content
	
	section.b6home
		.b6home_container
			.b6home_title_box
				.b6home_title(data-parallax='{"y" : -30, "smoothness": 0, "duration": 1}')
					h2 Clientes satisfechos
				.b6home_arrows
					.b6home_prev.arrowPrev
						span.icon-prev
					.b6home_next.arrowNext
						span.icon-next
			.b6home_content
				.b6home_slider.b6homeSlider
					- for (var i = 0; i < 4; i++ )
						.b6home_slider_item
							.b6home_slider_info
								.b6home_slider_img
									img(src=`${STATIC_URL}img/b6home-icon.png`, alt="")
								.b6home_slider_text
									p Son unos capos!!, muy atentos y responsables. El mejor servicio para tu fiesta de cumpleaños!!
								.b6home_slider_name
									p - Jorge Muñoz


block scripts
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/jquery.parallax-scroll.js`)
	script.
		$(function(){
			// +++ B6HOME +++
			$('.b6homeSlider').slick({
				dots: false,
				infinite: true,
				arrows: true,
				prevArrow:'.arrowPrev',
				nextArrow:'.arrowNext',
				speed: 800,
				slidesToShow: 1,
				slidesToScroll: 1,
				centerMode: true,
				centerPadding: '732px 0px 0px',
				draggable: true,
				responsive: [
					{
						breakpoint: 1601,
						settings: {
							centerPadding: '532px 0px 0px',
						}
					},
					{
						breakpoint: 1401,
						settings: {
							centerPadding: '300px 0px 0px',
						}
					},
					{
						breakpoint: 1025,
						settings: {
							centerPadding: '300px 0px 0px',
						}
					},
					{
						breakpoint: 861,
						settings: {
							centerPadding: '150px 0px 0px',
						}
					},
					{
						breakpoint: 768,
						settings: {
							centerPadding: '80px 0px 0px',
						}
					},
					{
						breakpoint: 481,
						settings: {
							centerPadding: '40px 0px 0px',
						}
					}
				]
			});
			// <<< END >>>
		});	