extends ./../common/_base2.pug

append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/lg-transitions.min.css`)

block content
	section(style="background:#000; height:400px;")
	section.b7home#b7home_anima
		.b7home_full
			.b7home_container
				.b7home_up(data-parallax='{"y" : -30, "smoothness": 0, "duration": 1}')
					.b7home_head.ww_center
						.b7home_title
							h2 Galería
						.b7home_buttons
							a(href="#" data-tab="1").b7home_btn.b7homeOpenTab video
							a(href="#" data-tab="2").b7home_btn.b7homeOpenTab Fotos
				.b7home_down(data-parallax='{"y" : 30, "smoothness": 0, "duration": 1}')
					-for (var x = 0; x < 1; x++) {
						.b7home_block&attributes({'id':`b7home_tab-${x+1}`})
							.b7home_left
								.b7home_arrow.b7homeArrowPrev&attributes({'class':`prev-${x+1}`})
									figure.b7home_bg
							.b7home_center
								.b7home_boxprev
									span.b7home_arrow&attributes({'class':`prev-${x+1}`})
								.b7home_slider
									ul.b7homeSliderPitcher
										-for (var i = 0; i < 3; i++) {
											li
												div(style=`background-image:url('${STATIC_URL}img/b7home-portada-${i+1}.jpg');`).b7home_itembox&attributes({'data-thumbnail':`${STATIC_URL}img/b7home-portada-${i+1}.jpg`})
													a(href=`https://www.youtube.com/watch?v=ShfysCSwL-k`).b7home_play.popUpGallery
										-};
								.b7home_boxnext
									span.b7home_arrow&attributes({'class':`next-${x+1}`})
							.b7home_right
								.b7home_arrow.b7homeArrowNext&attributes({'class':`next-${x+1}`})
									figure.b7home_bg
					-};
					-for (var x = 0; x < 1; x++) {
						.b7home_block&attributes({'id':`b7home_tab-${x+2}`})
							.b7home_left
								.b7home_arrow.b7homeArrowPrev&attributes({'class':`prev-${x+2}`})
									figure.b7home_bg
							.b7home_center
								.b7home_boxprev
									span.b7home_arrow&attributes({'class':`prev-${x+2}`})
								.b7home_slider
									ul.b7homeSliderPitcher
										-for (var i = 3; i > 0; i--) {
											li
												a(href=`${STATIC_URL}img/b7home-portada-${i}.jpg` style=`background-image:url('${STATIC_URL}img/b7home-portada-${i}.jpg');`).b7home_itembox.popUpGallery&attributes({'data-thumbnail':`${STATIC_URL}img/b7home-portada-${i}.jpg`})
										-};
								.b7home_boxnext
									span.b7home_arrow&attributes({'class':`next-${x+2}`})
							.b7home_right
								.b7home_arrow.b7homeArrowNext&attributes({'class':`next-${x+2}`})
									figure.b7home_bg
					-};
	section(style="background:#000; height:400px;")

block scripts
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/lightgallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/lightgallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/lightgallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/lightgallery/lg-video.js`)
	script(src=`${STATIC_URL}js/lightgallery/lg-autoplay.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/jquery.parallax-scroll.js`)
	script.
		$(function(){
			$('.b7homeSliderPitcher').each(function(i,el){
				i=i+1;


				$(this).on('init', function(e, slick) {  //funcion antes de iniciar el cambio de slide
					var prevThumbnail = $(this).find("li.slick-active").prev().find('.b7home_itembox').data('thumbnail');
					var nextThumbnail = $(this).find("li.slick-active").next().find('.b7home_itembox').data('thumbnail');

					$(".b7homeArrowPrev.prev-"+i).find('.b7home_bg').css({ "background-image":"url(" + prevThumbnail + ")"});
					$(".b7homeArrowNext.next-"+i).find('.b7home_bg').css({ "background-image":"url(" + nextThumbnail + ")"});

				});


				$(this).slick({ //lanzador del slider
					autoplay: false,
					autoplaySpeed: 7000,
					speed: 600,
					slidesToShow: 1,
					slidesToScroll: 1,
					pauseOnHover: false,
					pauseOnFocus: false,
					pauseOnDotsHover: false,
					draggable: false,
					cssEase: 'linear',
					fade: false,
					prevArrow: '.b7home_arrow.prev-'+i,
					nextArrow: '.b7home_arrow.next-'+i,
					dots: false
				});


				$(this).on('afterChange', function(event, slick, currentSlide){  //funcion despues de cambiar slide
					var prevThumbnail = $(this).find("li.slick-active").prev().find('.b7home_itembox').data('thumbnail');
					var nextThumbnail = $(this).find("li.slick-active").next().find('.b7home_itembox').data('thumbnail');

					$(".b7homeArrowPrev.prev-"+i).find('.b7home_bg').css({ "background-image":"url(" + prevThumbnail + ")"});
					$(".b7homeArrowNext.next-"+i).find('.b7home_bg').css({ "background-image":"url(" + nextThumbnail + ")"});

				});

				
				$(this).on('beforeChange', function(event, slick, currentSlide){ //funcion antes de cambiar slide
					$(this).closest('.b7home_block').find('.b7home_left .b7home_arrow.prev-'+i).fadeTo('slow', 0.7, function(){}).fadeTo('slow', 1); //fadeTo usa un efecto de opacidad
					$(this).closest('.b7home_block').find('.b7home_right .b7home_arrow.next-'+i).fadeTo('slow', 0.7, function(){}).fadeTo('slow', 1); //fadeTo usa un efecto de opacidad
				});
			});


			$('.b7home_btn').first().addClass('active');
			$('.b7home_block').first().addClass('active');
			$('.b7homeOpenTab').click(function(e) { //tab de sliders
				e.preventDefault();
				var dataTab = $(this).data('tab');
				$('.b7home_btn, .b7home_block').removeClass('active');
				$(this).addClass('active');
				$('.b7home_block[id="b7home_tab-'+dataTab+'"]').addClass('active');
			})


			$('.popUpGallery').lightGallery({
				selector: 'this',
				thumbnail: false,
				download: false,
				counter: false,
				zoom: false,
				fullScreen: false
			});


			var b7homeAnima = $('#b7home_anima');
			b7homeAnima.waypoint(function(direction) {
				if (direction === 'down') {
					$('.b7home').addClass('active');
				}
			}, {
				offset:'80%'
			});


		});