extends ./../common/_base2.pug

append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

block content
	section(style="background:#000; height:400px;")
	section.b8home#b8home_anima
		.b8home_full
			.b8home_container.ww_center
				.b8home_columns
					.b8home_left(data-parallax='{"y" : 30, "smoothness": 0, "duration": 1}')
						.b8home_title
							h2 Escríbenos
						.b8home_form
							form(action="")#form-contacto
								.b8home_envolver
									.b8home_texthead
										p Escríbenos y nos pondremos en contacto contigo:
									.b8home_fields.b8home_field-up
										ul
											li
												.b8home_input
													input(type="text" placeholder="Nombres*" class="validate[required]")
											li
												.b8home_input
													input(type="text" placeholder="Email*" class="validate[required, custom[email]]")
											li
												.b8home_input
													input(type="text" placeholder="Asunto*" class="validate[required]")
									.b8home_list
										span.b8home_list_subtitle Escribenos indicando: 
										.b8home_list_text
											ul
												li Fecha de la fiesta
												li Cantidad de invitados (niños, niñas o mixto)
												li Edad de tu cumpleañero.
									.b8home_fields.b8home_field-down
										ul
											li
												.b8home_textarea
													textarea(placeholder="Mensaje*" class="validate[required]")
									.b8home_foot
										.b8home_terms
											input(type="checkbox" name="checkbox" id="checkbox" class="validate[required]")
											label(for="checkbox" class="b8home_checkbox")
												span.b8home_checkbox_square
												.b8home_checkbox_text
													p Acepto los <a href="#terms_container" class="openTermsFooter">términos y condiciones</a>

										button.b8home_btn.b8homeBtnContacto Enviar
					.b8home_right(data-parallax='{"y" : -30, "smoothness": 0, "duration": 1}')
						a(href="#").b8home_social
							figure.b8home_social_img
								img(src=`${STATIC_URL}img/b8home-img.jpg` width="427" height="350" alt="")
							.b8home_social_info
								.b8home_social_lef
									span.b8home_social_iconfb.icon-fb2
									span.b8home_social_textfb @elclubstation
								.b8home_social_right
									.b8home_social_box
										figure.b8home_social_iconmini
											img(src=`${STATIC_URL}img/manito.png` width="19" height="20" alt="")
										span.b8home_social_nummbertext 1k
									.b8home_social_box
										figure.b8home_social_iconmini
											img(src=`${STATIC_URL}img/chat.png` width="19" height="20" alt="")
										span.b8home_social_nummbertext 1k
									.b8home_social_box
										figure.b8home_social_iconmini
											img(src=`${STATIC_URL}img/share.png` width="19" height="20" alt="")
										span.b8home_social_nummbertext 1k
	section(style="background:#000; height:400px;")

block scripts
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/jquery.parallax-scroll.js`)
	script.
		$(function(){
			var b8homeFields = $(".b8home_input input, .b8home_textarea textarea")
			$(b8homeFields).focusin(function() {
				$(this).addClass('active');
			});
			$(b8homeFields).focusout(function() {
				if ($(this).val() === "") {
					$(this).removeClass('active');
				};
			});
			$(b8homeFields).each(function() {
				if ($(this).val() != "") {
					$(this).addClass('active');
				}
			});


			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});


			$('.b8homeBtnContacto').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form-contacto").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
				// 		//return true;
					$("#form-contacto").submit();
				}	
			});


			var b8homeAnima = $('#b8home_anima');
			b8homeAnima.waypoint(function(direction) {
				if (direction === 'down') {
					$('.b8home').addClass('active');
				}
			}, {
				offset:'80%'
			});


		});