// COLOR BASE
blanco = #ffffff
negro = #000000

// Colors idendity
c-0 = #666666
c-1 = #e2574c
c-2 = #2d88f7
c-3 = #5e5e5e
c-4 = #d6d6d6
c-5 = #f3cf4e
c-6 = #ffc805
c-7 = #20252e
c-8 = #121212

// Fonts
t-0 = 'SFProDisplay-Light', sans-serif
t-1 = 'SFProDisplay-Regular', sans-serif
t-2 = 'SFProDisplay-Medium', sans-serif
t-3 = 'SFProDisplay-Bold', sans-serif
t-4 = 'SFProDisplay-Heavy', sans-serif

icomoon = 'icomoon'
// Mixins
placeholder(color,famyli)
	::-webkit-input-placeholder { color: color; font-family: famyli; } /* WebKit */
	:-moz-placeholder { color: color; font-family: famyli; } /* Firefox 18- */
	::-moz-placeholder { color: color; font-family: famyli; } /* Firefox 19+ */
	:-ms-input-placeholder { color: color; font-family: famyli; } /* IE 10+ */
cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
backgroundsize(position1,position2)
	background-repeat no-repeat
	background-size cover
	background-position position1 position2
displayflex(direction,position)
	display flex
	flex-wrap wrap
	justify-content direction
	align-items position
img-res()
	width 100%
	height auto
	display block
