<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="theme-color", content="#000000")
		block css
		link(rel="stylesheet", href=`${STATIC_URL}js/boxlight/boxlight.min.css`)
		link(rel="stylesheet", href=`${STATIC_URL}css/styles.css`)
		link(rel="stylesheet", href=`${STATIC_URL}css/blocks_styl.css`)
		title Document
	block vars
	body(class=`${bodyClass}`)
		.wrap_base
			//- HEADER
			include header.pug
			//- CONTENIDO
			block content
			//- FOOTER
			include footer.pug
		<!--SCRIPTS-->	
		script(src=`${STATIC_URL}js/jquery-3.2.1.min.js`)
		script(src=`${STATIC_URL}js/main.js`)
		script(src=`${STATIC_URL}js/header.js`)
		script(src=`${STATIC_URL}js/boxlight/boxlight.min.js`)
		script(src=`${STATIC_URL}js/navheader.js`)
		//- SCRIPT
		block scripts
			script.
				$(function(){
					$('.openTermsFooter').boxlight();
				});
