<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		block css
		link(rel="stylesheet", href=`${STATIC_URL}css/styles.css`)
		link(rel="stylesheet", href=`${STATIC_URL}css/blocks_styl.css`)
		title Document
	block vars
	body(class=`${bodyClass}`)
		//- CONTENIDO
		block content
		script(src=`${STATIC_URL}js/jquery-3.2.1.min.js`)
		//- SCRIPT
		block scripts