footer.footer
	.footer_content.ww_center
		.footer_up
			.footer_social
				ul
					li
						a(href="#").footer_facebook.icon-fb
					li
						a(href="#").footer_youtube.icon-yt
					li
						a(href="#").footer_instagram.icon-itg

			.footer_info
				span.footer_title Contáctanos:
				.footer_data
					a(href="https://api.whatsapp.com/send?phone=994196895").footer_wsp
						span.footer_wsp_icon.icon-wts
						span.footer_wsp_text 993082274
					a(href="mailto:info@elclubstation.com").footer_email
						span.footer_email_icon.icon-email
						span.footer_email_text info@elclubstation.com
		.footer_down
			.footer_left
				a(href="#terms_container").footer_terms.openTermsFooter Términos y condiciones
				.footer_copyright
					p El Club Station© Copyright <span class="year"></span> - Todos los derechos reservados.
			.footer_right
				.footer_team
					p <a href="https://www.staffdigital.pe/" target="_blank">Diseño web <span class="footer_team_icon icon-corazon"></span> StaffDigital</a>

//- terminos y condiciones
article.terms.boxlight#terms_container
	.terms_content
		.terms_title
			h2 Términos y condiciones
		.terms_text
			p.
				En aplicación y de conformidad con la Ley N° 29733. “Ley de Protección de Datos Personales”, el usuario autoriza y da su consentimiento para el tratamiento de los datos personales que son proporcionados en el presente formulario a través de nuestro portal u otro medio que acceda para su ingreso, y sean incorporados en el banco de datos personales de GRUPO ESPACIO o alguna de sus empresas subsidiarias, vinculadas o afiliadas (en adelante “GRUPO ESPACIO”) para los fines que exponemos a continuación.
			p.
				GRUPO ESPACIO utilizará sus datos para fines informativos y publicitarios, tales como el envío de publicidad, promociones, información vinculada a comunicaciones en general de diferentes productos y/o servicios de GRUPO ESPACIO, así como la realización de encuestas, prospección comercial, actividades de marketing en general, fines estadísticos, actividades y eventos organizados por GRUPO ARMAS-DOOMO, así como para brindarle un servicio personalizado de atención al cliente y post venta. GRUPO ARMAS-DOOMO podrá entregar sus datos personales a terceras personas, en su condición de encargados, a efectos de ejecutar las finalidades antes indicadas. En caso de no proporcionar esta autorización, GRUPO ARMAS-DOOMO no podrá tratar sus datos personales en la forma explicada en esta autorización.
			p.
				Los datos personales recabados serán conservador por GRUPO ARMAS-DOOMO por tiempo indeterminado. Usted podrá revocar su consentimiento en cualquier momento. Para ejercer este derecho o cualquier otro que la ley establece con relación a sus datos personales (información, acceso, rectificación, cancelación y oposición), deberá enviar una comunicación al siguiente correo electrónico: atencionalcliente@armasdoomo.com.pe o dirigirla a las oficinas de Armas-Doomo ubicadas en Av. Canaval y Moreyra 480 – Piso 21 – San Isidro.