header.header
	.head_fixed
		.head_container
			a(href="home.html").head_logo
				img(src=`${STATIC_URL}img/logo-header.png`, width="171" height="86" alt="alt")
			.head_nav
				.head_box_item
					.head_nav_link
						ul.ancla_nav
							li
								a(href="#estaciones" class="openSubmenuLink linkJs") Estaciones
								.head_nav_link_submenu_responsive
									a.ancla_inner_section(href="#estaciones_musicales") Estaciones musicales
									a.ancla_inner_section(href="#estaciones_juegos") Estaciones de juegos
							li
								a.linkJs(href="#b5home_anima") Nosotros
							li
								a.linkJs(href="#clientes_testimoniales") Testimoniales
							li
								a.linkJs(href="#b7home_anima") Galería
					.head_btn_contacto.ancla_nav
						a.linkJs(href="#b8home_anima") + Contáctanos
				.head_btn_whatsapp
					a(href="https://api.whatsapp.com/send?phone=989900453&amp;amp;text=Hola" target="_blank").heade_whatsapp_img
						img(src=`${STATIC_URL}img/whatsapp.png`, width="40" height="40" alt="alt")


span.bg_menu
.menu_btn_responsive
	<svg class="btn_openMenu" viewBox="0 0 100 100">
		<path class="line top" d="m 30,33 h 40 c 13.100415,0 14.380204,31.80258 6.899646,33.421777 -24.612039,5.327373 9.016154,-52.337577 -12.75751,-30.563913 l -28.284272,28.284272"></path>
		<path class="line middle" d="m 70,50 c 0,0 -32.213436,0 -40,0 -7.786564,0 -6.428571,-4.640244 -6.428571,-8.571429 0,-5.895471 6.073743,-11.783399 12.286435,-5.570707 6.212692,6.212692 28.284272,28.284272 28.284272,28.284272"></path>
		<path class="line bottom" d="m 69.575405,67.073826 h -40 c -13.100415,0 -14.380204,-31.80258 -6.899646,-33.421777 24.612039,-5.327373 -9.016154,52.337577 12.75751,30.563913 l 28.284272,-28.284272"></path>
	</svg>
.menu_responsive
	.inner_items_responsive
