extends common/_base.pug
//- css
append css
//- body classs
block vars
	- var bodyClass = 'header_none'
//- Contenido
block content
	section.error_404
		.error_404_container.ww_center
			.error_404_title
				h2 ¡Gracias por escribirnos!
			.error_404_text
				p|Nosotros te ayudamos con la diversión!
			.error_404_btn
				a(href="home.html") Continuar
//- js
append scripts
