extends common/_base.pug
//- css
append css
//- body classs
block vars
	- var bodyClass = 'header_none'
//- Contenido
block content
	section.error_404
		.error_404_container.ww_center
			.error_404_title
				h2 Error 500!
			.error_404_text
				p|Trata de volver a cargar esta página o no dudes en contactar con nosotros si el problema persiste.
			.error_404_btn
				a(href="home.html") Continuar
//- js
append scripts
