extends common/_base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/sliderlight/lightslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/lg-transitions.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class';
//- Contenido
block content
	section.b1home
		a(href="#").b1home_mouse
			<div class="svgMouse">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 29 40" xml:space="preserve">
					<g id="Layer_1">
						<path d="M14.5,0c-7.7,0-14,6.4-14,14.3v11.4c0,7.9,6.3,14.3,14,14.3c7.8,0,14.1-6.4,14.1-14.3V14.3C28.5,6.4,22.2,0,14.5,0zM26,25.7c0,6.4-5.2,11.7-11.5,11.7S3,32.1,3,25.7V14.3C3,7.9,8.2,2.6,14.5,2.6C20.8,2.6,26,7.9,26,14.3V25.7z"/>
					</g>
					<g id="Layer_2">
						<path d="M14.5,10.9c-0.7,0-1.3,0.6-1.3,1.3v4.6c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3v-4.6C15.8,11.5,15.2,10.9,14.5,10.9z"/>
					</g>
				</svg>
			</div>
			span.b1home_text_scroll scroll  down
		.b1home_slider
			ul.b1homeSliderBanner
				- for (var i = 0; i < 3; i++ ){
					li.b1home_slider_item
						figure(class="b1home_banner bannerChangeJS" data-image=`${STATIC_URL}img/banner.png;${STATIC_URL}img/table.jpg;${STATIC_URL}img/mobil.jpg`)
							.b1home_content_box.ww_center
								.b1home_title
									p|¡Anima tu fiesta!
								.b1home_subtitle
									p|Videojuegos, Baile y Karaoke
				-};
	section.b2home#estaciones(style=`background-image:url('${STATIC_URL}img/banner-b2.jpg');`)
		.b2home_container.ww_center
			.b2home_title
				h2 ¿Estás organizando <br> una fiesta?
			.b2home_text
				p|Nosotros te ayudamos con la diversión!
			.b2home_btns
				.b2home_btn_one.b2home_btn_x
					a.ancla_inner_section(href="#estaciones_musicales") 
						p|Estaciones musicales
						span.icon-close2
				.b2home_btn_one.b2home_btn_circle
					a.ancla_inner_section(href="#estaciones_juegos") 
						p|Estaciones de juegos
						span.icon-circle
	section.b3home#estaciones_musicales
		.b3home_container.ww_center
			.b3home_title(data-parallax='{"y" : -30, "smoothness": 0, "duration": 1}')
				h2 Estaciones musicales
			.b3home_content
				.b3home_image
					.b3home_deco
						img(src=`${STATIC_URL}img/b3home-cuadrado.png`, alt="", width="186", height="186")
					.b3home_image_box
						img(src=`${STATIC_URL}img/b3home-img.png`, alt="", width="617", height="353")
				.b3home_info
					.b3home_item
						.b3home_icon
							img(src=`${STATIC_URL}img/b3home-icon1.png`, alt="", width="65", height="65")
						.b3home_subtitle
							h3 Estación Play Station
						.b3home_list
							ul
								li - Consola PlayStation 4
								li - 04 mandos
								li - Discos de juego
								li - TV con rack.
						.b3home_link
							a(href="#b8home_anima" class="b3home_link_btn navScroll") Escríbenos
								span.icon-next
					.b3home_item
						.b3home_icon
							img(src=`${STATIC_URL}img/b3home-icon2.png`, alt="", width="65", height="65")
						.b3home_subtitle
							h3 Estación Nintendo Switch
						.b3home_list
							ul
								li - Consola WiiU + GamePad(Tablet)
								li - 04 mandos
								li - Discos de juego
								li - TV con rack.
						.b3home_link
							a(href="#b8home_anima" class="b3home_link_btn navScroll") Escríbenos
								span.icon-next
	section.b4home#estaciones_juegos
		.b4home_container.ww_center
			.b4home_title(data-parallax='{"y" : -30, "smoothness": 0, "duration": 1}')
				h2 Estaciones de juego
			.b4home_content
				.b4home_image
					.b4home_deco
						img(src=`${STATIC_URL}img/b4home-circle.png`, alt="", width="206", height="205")
					.b4home_image_box
						img(src=`${STATIC_URL}img/b4home-img.png`, alt="", width="617", height="353")
				.b4home_info
					.b4home_item
						.b4home_icon
							img(src=`${STATIC_URL}img/b4home-icon1.png`, alt="", width="65", height="65")
						.b4home_subtitle
							h3 Estación Play Station
						.b4home_list
							ul
								li - Consola PlayStation 4
								li - 04 mandos
								li - Discos de juego
								li - TV con rack.
						.b4home_link
							a(href="#b8home_anima" class="b4home_link_btn navScroll") Escríbenos
								span.icon-next
					.b4home_item
						.b4home_icon
							img(src=`${STATIC_URL}img/b4home-icon2.png`, alt="", width="65", height="65")
						.b4home_subtitle
							h3 Estación Nintendo Switch
						.b4home_list
							ul
								li - Consola WiiU + GamePad(Tablet)
								li - 04 mandos
								li - Discos de juego
								li - TV con rack.
						.b4home_link
							a(href="#b8home_anima" class="b4home_link_btn navScroll") Escríbenos
								span.icon-next
	section.b5home#b5home_anima
		span.b5home_text_top
			p|Club
		span.b5home_text_button
			p|Station
		.b5home_full
			.b5home_container.ww_center
				.b5home_portada(data-parallax='{"y" : 30, "smoothness": 0, "duration": 1}')
					figure.b5home_img
						img(src=`${STATIC_URL}img/b5home-img.png` width="525" height="641" alt="")
					figure.b5home_circle
						img(src=`${STATIC_URL}img/b5home-circle.png` width="588" height="586" alt="")
				.b5home_info(data-parallax='{"y" : -30, "smoothness": 0, "duration": 1}')
					.b5home_text
						p.
							Somos <strong>EL CLUB STATION®</strong> y nos encanta animar fiestas infantiles con videojuegos, juegos de baile y karaoke.
						p.
							Nuestro servicio se renueva siempre: tendrás los juegos más populares y recientes para tus chicos.
					.b5home_ancla
						a(href="#").b5home_btn Escríbenos
	section.b6home#clientes_testimoniales
		.b6home_container
			.b6home_title_box
				.b6home_title(data-parallax='{"y" : -30, "smoothness": 0, "duration": 1}')
					h2 Clientes satisfechos
				.b6home_arrows
					.b6home_prev.arrowPrev
						span.icon-prev
					.b6home_next.arrowNext
						span.icon-next
			.b6home_content
				.b6home_slider.b6homeSlider
					- for (var i = 0; i < 4; i++ ){
						.b6home_slider_item
							.b6home_slider_info
								.b6home_slider_img
									img(src=`${STATIC_URL}img/b6home-icon.png`, alt="")
								.b6home_slider_text
									p Son unos capos!!, muy atentos y responsables. El mejor servicio para tu fiesta de cumpleaños!!
								.b6home_slider_name
									p - Jorge Muñoz
					-};
	section.b7home#b7home_anima
		.b7home_full
			.b7home_container
				.b7home_up(data-parallax='{"y" : -30, "smoothness": 0, "duration": 1}')
					.b7home_head.ww_center
						.b7home_title
							h2 Galería
						.b7home_buttons
							a(href="#" data-tab="1").b7home_btn.b7homeOpenTab video
							a(href="#" data-tab="2").b7home_btn.b7homeOpenTab Fotos
				.b7home_down(data-parallax='{"y" : 30, "smoothness": 0, "duration": 1}')
					-for (var x = 0; x < 1; x++) {
						.b7home_block&attributes({'id':`b7home_tab-${x+1}`})
							.b7home_left
								.b7home_arrow.b7homeArrowPrev&attributes({'class':`prev-${x+1}`})
									figure.b7home_bg
							.b7home_center
								.b7home_boxprev
									span.b7home_arrow&attributes({'class':`prev-${x+1}`})
								.b7home_slider
									ul.b7homeSliderPitcher
										-for (var i = 0; i < 3; i++) {
											li
												div(style=`background-image:url('${STATIC_URL}img/b7home-portada-${i+1}.jpg');`).b7home_itembox&attributes({'data-thumbnail':`${STATIC_URL}img/b7home-portada-${i+1}.jpg`})
													a(href=`https://www.youtube.com/watch?v=ShfysCSwL-k`).b7home_play.popUpGallery
										-};
								.b7home_boxnext
									span.b7home_arrow&attributes({'class':`next-${x+1}`})
							.b7home_right
								.b7home_arrow.b7homeArrowNext&attributes({'class':`next-${x+1}`})
									figure.b7home_bg
					-};
					-for (var x = 0; x < 1; x++) {
						.b7home_block&attributes({'id':`b7home_tab-${x+2}`})
							.b7home_left
								.b7home_arrow.b7homeArrowPrev&attributes({'class':`prev-${x+2}`})
									figure.b7home_bg
							.b7home_center
								.b7home_boxprev
									span.b7home_arrow&attributes({'class':`prev-${x+2}`})
								.b7home_slider
									ul.b7homeSliderPitcher
										-for (var i = 3; i > 0; i--) {
											li
												a(href=`${STATIC_URL}img/b7home-portada-${i}.jpg` style=`background-image:url('${STATIC_URL}img/b7home-portada-${i}.jpg');`).b7home_itembox.popUpGallery&attributes({'data-thumbnail':`${STATIC_URL}img/b7home-portada-${i}.jpg`})
										-};
								.b7home_boxnext
									span.b7home_arrow&attributes({'class':`next-${x+2}`})
							.b7home_right
								.b7home_arrow.b7homeArrowNext&attributes({'class':`next-${x+2}`})
									figure.b7home_bg
					-};
	section.b8home#b8home_anima
		.b8home_full
			.b8home_container.ww_center
				.b8home_columns
					.b8home_left(data-parallax='{"y" : 30, "smoothness": 0, "duration": 1}')
						.b8home_title
							h2 Escríbenos
						.b8home_form
							form(action="")#form-contacto
								.b8home_envolver
									.b8home_texthead
										p Escríbenos y nos pondremos en contacto contigo:
									.b8home_fields.b8home_field-up
										ul
											li
												.b8home_input
													input(type="text" placeholder="Nombres*" class="validate[required]")
											li
												.b8home_input
													input(type="text" placeholder="Email*" class="validate[required, custom[email]]")
											li
												.b8home_input
													input(type="text" placeholder="Asunto*" class="validate[required]")
									.b8home_list
										span.b8home_list_subtitle Escribenos indicando: 
										.b8home_list_text
											ul
												li Fecha de la fiesta
												li Cantidad de invitados (niños, niñas o mixto)
												li Edad de tu cumpleañero.
									.b8home_fields.b8home_field-down
										ul
											li
												.b8home_textarea
													textarea(placeholder="Mensaje*" class="validate[required]")
									.b8home_foot
										.b8home_terms
											input(type="checkbox" name="checkbox" id="checkbox" class="validate[required]")
											label(for="checkbox" class="b8home_checkbox")
												span.b8home_checkbox_square
												.b8home_checkbox_text
													p Acepto los <a href="#terms_container" class="openTermsFooter">términos y condiciones</a>

										button.b8home_btn.b8homeBtnContacto Enviar
					.b8home_right(data-parallax='{"y" : -30, "smoothness": 0, "duration": 1}')
						a(href="#").b8home_social
							figure.b8home_social_img
								img(src=`${STATIC_URL}img/b8home-img.jpg` width="427" height="350" alt="")
							.b8home_social_info
								.b8home_social_lef
									span.b8home_social_iconfb.icon-fb2
									span.b8home_social_textfb @elclubstation
								.b8home_social_right
									.b8home_social_box
										figure.b8home_social_iconmini
											img(src=`${STATIC_URL}img/manito.png` width="19" height="20" alt="")
										span.b8home_social_nummbertext 1k
									.b8home_social_box
										figure.b8home_social_iconmini
											img(src=`${STATIC_URL}img/chat.png` width="19" height="20" alt="")
										span.b8home_social_nummbertext 1k
									.b8home_social_box
										figure.b8home_social_iconmini
											img(src=`${STATIC_URL}img/share.png` width="19" height="20" alt="")
										span.b8home_social_nummbertext 1k

//- js
append scripts
	script(src=`${STATIC_URL}js/sliderlight/lightslider.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/lightgallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/lightgallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/lightgallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/lightgallery/lg-video.js`)
	script(src=`${STATIC_URL}js/lightgallery/lg-autoplay.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/jquery.parallax-scroll.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/staff.validationEngine.js`)
	script.
		changeImage('.bannerChangeJS');
		window.onresize = function(){
			changeImage('.bannerChangeJS');
		};
		$(document).ready(function() {
			$('.b1homeSliderBanner').lightSlider({
				item:1,
				mode: 'fade',
				controls: false,
				pager: false,
				auto: true,
				pause:4000,
				loop:false,
				easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
				speed:1200,
			});


			var b2homeAnima = $('#estaciones_musicales');
			b2homeAnima.waypoint(function(direction) {
				if (direction === 'down') {
					$('.header').addClass('scroll_section');
					$('.b2home_btns').addClass('scroll_top');
				} else{
					$('.header').removeClass('scroll_section');
					$('.b2home_btns').removeClass('scroll_top');
					
				}
			}, {
				offset:'20%'
			});
			
			$(".ancla_inner_section").click(function(e){
				e.preventDefault();
				var codigo = $(this).attr('href');
				$("html,body").animate({
					scrollTop: $(codigo).offset().top
					}, 500);
				$(".ancla_inner_section").removeClass('active');
				$(this).addClass('active');
				hidenResponsive()
			});

			// +++ B3HOME +++
			var b3homeAnima = $('.b3home');
			b3homeAnima.waypoint(function(direction) {
				if (direction === 'down') {
					$('.b3home').addClass('active');
				}
			}, {
				offset:'50%'
			});
			// <<< END >>>

			// +++ B4HOME +++
			var b4homeAnima = $('.b4home');
			b4homeAnima.waypoint(function(direction) {
				if (direction === 'down') {
					$('.b4home').addClass('active');
				}
			}, {
				offset:'50%'
			});
			// <<< END >>>
			
			// +++ B5HOME +++
			var b5homeAnima = $('#b5home_anima');
			b5homeAnima.waypoint(function(direction) {
				if (direction === 'down') {
					$('.b2home_btns').removeClass('scroll_top');
					$('.header').removeClass('scroll_section');
					$('.b5home').addClass('active');
				}else{
					$('.header').addClass('scroll_section');
					$('.b2home_btns').addClass('scroll_top');
				}
			}, {
				offset:'30%'
			});
			// <<< END >>>


			// +++ B6HOME +++
			$('.b6homeSlider').slick({
				dots: false,
				infinite: true,
				arrows: true,
				prevArrow:'.arrowPrev',
				nextArrow:'.arrowNext',
				speed: 800,
				slidesToShow: 1,
				slidesToScroll: 1,
				centerMode: true,
				centerPadding: '732px 0px 0px',
				draggable: true,
				responsive: [
					{
						breakpoint: 1601,
						settings: {
							centerPadding: '532px 0px 0px',
						}
					},
					{
						breakpoint: 1401,
						settings: {
							centerPadding: '300px 0px 0px',
						}
					},
					{
						breakpoint: 1025,
						settings: {
							centerPadding: '300px 0px 0px',
						}
					},
					{
						breakpoint: 861,
						settings: {
							centerPadding: '150px 0px 0px',
						}
					},
					{
						breakpoint: 768,
						settings: {
							centerPadding: '80px 0px 0px',
						}
					},
					{
						breakpoint: 481,
						settings: {
							centerPadding: '40px 0px 0px',
						}
					}
				]
			});
			// <<< END >>>


			// +++ B7HOME +++
			$('.b7homeSliderPitcher').each(function(i,el){
				i=i+1;


				$(this).on('init', function(e, slick) {  //funcion antes de iniciar el cambio de slide
					var prevThumbnail = $(this).find("li.slick-active").prev().find('.b7home_itembox').data('thumbnail');
					var nextThumbnail = $(this).find("li.slick-active").next().find('.b7home_itembox').data('thumbnail');

					$(".b7homeArrowPrev.prev-"+i).find('.b7home_bg').css({ "background-image":"url(" + prevThumbnail + ")"});
					$(".b7homeArrowNext.next-"+i).find('.b7home_bg').css({ "background-image":"url(" + nextThumbnail + ")"});

				});


				$(this).slick({ //lanzador del slider
					autoplay: false,
					autoplaySpeed: 7000,
					speed: 600,
					slidesToShow: 1,
					slidesToScroll: 1,
					pauseOnHover: false,
					pauseOnFocus: false,
					pauseOnDotsHover: false,
					draggable: false,
					cssEase: 'linear',
					fade: false,
					prevArrow: '.b7home_arrow.prev-'+i,
					nextArrow: '.b7home_arrow.next-'+i,
					dots: false
				});


				$(this).on('afterChange', function(event, slick, currentSlide){  //funcion despues de cambiar slide
					var prevThumbnail = $(this).find("li.slick-active").prev().find('.b7home_itembox').data('thumbnail');
					var nextThumbnail = $(this).find("li.slick-active").next().find('.b7home_itembox').data('thumbnail');

					$(".b7homeArrowPrev.prev-"+i).find('.b7home_bg').css({ "background-image":"url(" + prevThumbnail + ")"});
					$(".b7homeArrowNext.next-"+i).find('.b7home_bg').css({ "background-image":"url(" + nextThumbnail + ")"});

				});

				
				$(this).on('beforeChange', function(event, slick, currentSlide){ //funcion antes de cambiar slide
					$(this).closest('.b7home_block').find('.b7home_left .b7home_arrow.prev-'+i).fadeTo('slow', 0.7, function(){}).fadeTo('slow', 1); //fadeTo usa un efecto de opacidad
					$(this).closest('.b7home_block').find('.b7home_right .b7home_arrow.next-'+i).fadeTo('slow', 0.7, function(){}).fadeTo('slow', 1); //fadeTo usa un efecto de opacidad
				});
			});


			$('.b7home_btn').first().addClass('active');
			$('.b7home_block').first().addClass('active');
			$('.b7homeOpenTab').click(function(e) { //tab de sliders
				e.preventDefault();
				var dataTab = $(this).data('tab');
				$('.b7home_btn, .b7home_block').removeClass('active');
				$(this).addClass('active');
				$('.b7home_block[id="b7home_tab-'+dataTab+'"]').addClass('active');
			})


			$('.popUpGallery').lightGallery({
				selector: 'this',
				thumbnail: false,
				download: false,
				counter: false,
				zoom: false,
				fullScreen: false
			});


			var b7homeAnima = $('#b7home_anima');
			b7homeAnima.waypoint(function(direction) {
				if (direction === 'down') {
					$('.b7home').addClass('active');
				}
			}, {
				offset:'80%'
			});
			//- <<< END >>>


			// +++ B8HOME +++
			var b8homeFields = $(".b8home_input input, .b8home_textarea textarea")
			$(b8homeFields).focusin(function() {
				$(this).addClass('active');
			});
			$(b8homeFields).focusout(function() {
				if ($(this).val() === "") {
					$(this).removeClass('active');
				};
			});
			$(b8homeFields).each(function() {
				if ($(this).val() != "") {
					$(this).addClass('active');
				}
			});


			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});


			$('.b8homeBtnContacto').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form-contacto").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
				// 		//return true;
					$("#form-contacto").submit();
				}	
			});


			var b8homeAnima = $('#b8home_anima');
			b8homeAnima.waypoint(function(direction) {
				if (direction === 'down') {
					$('.b8home').addClass('active');
				}
			}, {
				offset:'80%'
			});
			//- <<< END >>>


		});
