.b1home
	position relative
	overflow hidden
.b1home_mouse
	position absolute
	bottom 92px
	left 0
	right 0
	margin auto
	width 90px
	text-align center
	display block
	z-index 100
	img
		img-res()
	@media screen and (max-width 1024px)
		bottom 30px
	@media screen and (max-width 767px)
		display none
.svgMouse
	width 29px
	margin auto
	svg
		display block
		width 100%
	path
		fill blanco
		display inline-block
	#Layer_2
		animation bounceIcon 1.5s infinite alternate
		transform translateY(0px)
.b1home_text_scroll
	color blanco
	padding-top 17px
	display inline-block
@keyframes bounceIcon
	0%
		transform translateY(0px)
		opacity 1
	50%
		opacity 0
		transform translateY(5px)
	100%
		opacity 1
		transform translateY(0px)
.b1home_slider
	width 100%
.b1home_slider_item
	&.active.lslide
		.b1home_title
			transition all .35s ease-in .8s
			transform translateX(0px)
			opacity 1
		.b1home_subtitle
			transition all .35s ease-in 1.1s
			transform translateX(0px)
			opacity 1
.b1home_banner
	width 100%
	height 100vh
	background-position center
	background-repeat no-repeat
	background-size cover
	position relative
	display flex
	align-items center
	justify-content center
	&:before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color negro
		opacity .65
	@media screen and (max-width 1024px)
		height 500px
	@media screen and (max-width 767px)
		height 400px
.b1home_content_box
	padding-top 64px
	text-align center
	&.ww_center
		max-width 1222px
.b1home_title
	position relative
	font-size calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320)))
	line-height 54px
	color blanco
	font-family t-3
	opacity 0
	transform translateX(-100px)
.b1home_subtitle
	font-size calc(35px + (90 - 35) * ((100vw - 320px) / (1920 - 320)))
	letter-spacing -1.3px
	color blanco
	position relative
	line-height 1.2
	font-family t-4
	transform translateX(-100px)
	opacity 0
