.b2home
	width 100%
	height 100vh
	background-size cover
	background-repeat no-repeat
	background-position center
	display flex
	align-items center
	justify-content center
	@media screen and (max-width 1024px)
		height auto
		padding 140px 0px 100px 0px
.b2home_container
	background-color blanco
	border-radius 30px
	box-shadow 6px 6px 20px 0 rgba(0, 0, 0, 0.32)
	padding 110px 0px 80px 0px
	text-align center
	&.ww_center
		max-width 996px
.b2home_title
	h2
		font-size 60px
		font-size calc(25px + (60 - 25) * ((100vw - 320px) / (1920 - 320)))
		color c-1
		font-weight normal
		font-family t-3
.b2home_text
	font-size 20px
	font-family t-0
	padding-top 25px
.b2home_btns
	displayflex(center,center)
	padding-top 45px
	@media screen and (min-width 1025px)
		&.scroll_top
			position fixed
			top 0
			left 0
			width 100%
			z-index 50
	@media screen and (max-width 767px)
		flex-direction column
		justify-content center
.b2home_btn_one
	position relative
	span
		display inline-block
		position absolute
		top 0
		left 0
		width 60px
		height 60px
		line-height 58px
		font-size 40px
		border-radius 50%
		color #00ffcb
		background-color #0a162e
		box-shadow 3px 5px 10px 1px rgba(0, 0, 0, 0.42)
		z-index 5
	a
		background-color c-4
		color c-0
		font-size 20px
		font-size calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)))
		font-family t-2
		border-radius 47px
		display inline-block
		padding 19px 72px 19px 103px
		box-shadow 0px 5px rgba(#c3c3c3,1)
		&:active
			box-shadow 0px 0px 0px 0px rgba(#c3c3c3,.6)
			transform translate(0, 5px)

		p
			margin 0
			display inline-block
		&.active
			background-color c-7
			color blanco
			box-shadow 0px 0px 0px 0px rgba(#c3c3c3,.6)
			transform translate(0, 5px)
		@media screen and (min-width 1024px)
			&:hover
				background-color c-7
				color blanco
	&.active
		a
			background-color c-7
			color blanco
			box-shadow 0px 0px 0px 0px rgba(#c3c3c3,.6)
			transform translate(0, 5px)
	&:first-child
		padding-right 24px
	@media screen and (max-width 767px)
		&:first-child
			padding-right 0
			margin-bottom 30px
.b2home_btn_circle
	span
		color c-1
