.b4home
	width 100%
	height 100vh
	padding 60px 0px
	display flex
	align-items center
	box-sizing border-box
	@media screen and (max-width 1024px)
		height auto
		display block
		align-items inherit
	@media screen and (max-width 767px)
		padding 40px 0px
	@media screen and (min-width 1025px)
		overflow hidden
		&.active
			.b4home_image:before
				width 0
			.b4home_deco
				transform scale(1)
			.b4home_item
				opacity 1
				visibility visible
				transform translateY(0)

.b4home_container
	max-width 1225px

.b4home_title
	max-width 540px
	width 100%
	margin 0 auto
	padding-left 240px
	margin-bottom -32px
	h2
		font-family t-3
		font-size 100px
		color negro
		margin 0
		opacity 0.08
	@media screen and (min-width 1025px)
		transition all 1s linear
	@media screen and (max-width 1200px)
		padding-left 140px
	@media screen and (max-width 1024px)
		h2
			font-size 80px
	@media screen and (max-width 860px)
		max-width 100%
		padding-left 0
		margin-bottom 30px
		text-align center
	@media screen and (max-width 767px)
		h2
			font-size 60px
	@media screen and (max-width 520px)
		h2
			font-size 50px

.b4home_content
	displayflex(flex-start,flex-start)
	flex-direction row-reverse

.b4home_info
	width 41%
	margin-right 8.6%
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content flex-start
	@media screen and (max-width 1200px)
		width 41%
		margin-right 4%
	@media screen and (max-width 1024px)
		width 48%
	@media screen and (max-width 860px)
		max-width 500px
		width 100%
		margin 0 auto
		margin-top 25px
	
	&:hover
		.b4home_item:not(:hover)
			.b4home_link_btn
				color c-0

.b4home_item
	width 45%
	margin-right 10%
	&:nth-child(2n + 2)
		margin-right 0
	@media screen and (min-width 1025px)
		transform translateY(50%)
		transition all 1s ease
		opacity 0
		visibility hidden
		transition-delay .9s
	@media screen and (max-width 767px)
		width 48%
		margin-right 4%

.b4home_icon
	max-width 65px
	width 100%
	margin 0
	img
		img-res()
	@media screen and (max-width 767px)
		max-width 55px

.b4home_subtitle
	max-width 150px
	width 100%
	margin 0
	padding-top 32px
	h3
		font-family t-2
		font-size 20px
		color c-3
		margin 0
	@media screen and (max-width 1024px)
		padding-top 20px
		h3
			font-size 17px

.b4home_list
	padding-top 28px
	font-family t-0
	font-size 14px
	color c-0
	line-height 1.29
	@media screen and (max-width 1024px)
		padding-top 18px

.b4home_link
	padding-top 34px

.b4home_link_btn
	position relative
	font-family t-3
	font-size 16px
	text-decoration underline
	color c-1
	padding-left 43px
	span
		position absolute
		display block
		left 0
		top 0
		bottom 0
		color negro
		font-size 20px
		transition all .3s ease-in-out
	@media screen and (min-width 1025px)
		&:hover
			transform translateX(0px)
			transition all .3s ease-in-out
			span
				transform translateX(10px)

.b4home_image
	width 50.4%
	padding-right 58px
	box-sizing border-box
	position relative
	&:before
		@media screen and (min-width 1025px)
			content ""
			width 100%
			height 100%
			background blanco
			transition all .6s ease-in-out .1s
			position absolute
			top 0
			right 0
			z-index 3
	@media screen and (max-width 1200px)
		width 55%
		padding-right 45px
	@media screen and (max-width 1024px)
		width 48%
		padding-right 0
	@media screen and (max-width 860px)
		max-width 550px
		width 100%
		margin 0 auto

.b4home_deco
	position absolute
	bottom -65px
	right 0
	width 206px
	z-index -1
	img
		img-res()
	@media screen and (min-width 1025px)
		transform scale(0)
		transition all .5s ease-in-out
		transition-delay .5s
	@media screen and (max-width 1200px)
		bottom -48px
	@media screen and (max-width 1024px)
		display none

.b4home_image_box
	width 100%
	box-sizing border-box
	img
		img-res()