.b5home
	background #f7f7f7
	overflow hidden
	position relative
	@media screen and (max-width 1024px)
		padding 140px 0px 0px 0px


.b5home.active
	@media screen and (min-width 1025px)
		.b5home_portada:before
			width 0%

		.b5home_img
			opacity 1

		.b5home_circle
			opacity 1

		.b5home_text
			opacity 1
			visibility visible
			transform translateY(0px)

		.b5home_ancla
			opacity 1
			visibility visible
			transform translateY(0px)

.b5home_container
	max-width 1207px
	margin 0 auto
	@media screen and (max-width 1460px)
		max-width 960px
	@media screen and (max-width 1024px)
		width auto
		margin-left 4%
		margin-right 2%
	@media screen and (max-width 767px)
		width 94%
		margin 0 auto

.b5home_full
	display flex
	flex-direction column
	justify-content flex-end
	width 100%
	height 100vh
	@media screen and (max-width 1024px)
		height auto

.b5home_container
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	align-items center
	@media screen and (max-width 767px)
		flex-direction column-reverse
		justify-content inherit

.b5home_portada
	width 43.496271748135875%
	position relative
	margin-right 5.799502899751445%
	@media screen and (max-width 1460px)
		width 40%
		margin-right 5%
	@media screen and (max-width 767px)
		max-width 480px
		width 90%
		margin 0 auto

	@media screen and (min-width 1025px)
		transition all 1s linear

	&:before
		@media screen and (min-width 1025px)
			content ""
			width 112%
			height 100%
			background #f7f7f7
			transition all 1s ease-in-out 1s
			position absolute
			top 0
			right -6%
			z-index 3

.b5home_img
	width 100%
	position relative
	z-index 2
	margin 0 5px 0 0
	img
		display block
		width 100%
		height auto
	@media screen and (min-width 1025px)
		opacity 0
		transition all 1s ease-in-out

.b5home_circle
	width 112%
	transform translateX(-50%)
	position absolute
	left 50%
	bottom -33px
	img
		display block
		width 100%
		height auto
	@media screen and (min-width 1025px)
		opacity 0
		transition all 1s ease-in-out

.b5home_info
	width 50.70422535211268%
	@media screen and (max-width 1460px)
		width 55%
	@media screen and (max-width 767px)
		width 100%
		text-align center
		margin-bottom 50px

	@media screen and (min-width 1025px)
		transition all 1s linear

.b5home_text
	line-height 41px
	letter-spacing -1px
	color c-0
	font-family t-2
	font-size 35px
	@media screen and (max-width 1460px)
		line-height 36px
		font-size 30px
	@media screen and (max-width 1024px)
		font-size 26px
		line-height 32px
	@media screen and (max-width 768px)
		font-size 22px
		line-height 28px
	@media screen and (max-width 767px)
		text-align left

	@media screen and (min-width 1025px)
		opacity 0
		visibility hidden
		transform translateY(50px)
		transition all 2s cubic-bezier(0.68, -0.45, 0.165, 1.35)

	p
		margin-bottom 35px
		@media screen and (max-width 1460px)
			margin-bottom 25px

		&:last-child
			margin-bottom 0

	strong
		color negro
		font-weight normal

.b5home_ancla
	@media screen and (min-width 1025px)
		opacity 0
		visibility hidden
		transform translateY(50px)
		transition all 2s cubic-bezier(0.68, -0.45, 0.165, 1.35)

.b5home_btn
	display inline-block
	line-height 1
	background-color c-5
	color #2d2d2d
	font-family t-3
	font-size 16px
	border-radius 25px
	appearance none
	cursor pointer
	box-shadow 0 2px 4px 0 rgba(#aeaeae, .5)
	transition transform ease-in 0.1s, box-shadow ease-in 0.25s
	position relative
	padding 17px 62px
	margin-top 48px
	@media screen and (max-width 1460px)
		margin-top 30px

	&:active
		transform scale(0.9)
		background-color c-6
		box-shadow 0 2px 4px 0 rgba(#aeaeae, 0.2)


.b5home_text_button, .b5home_text_top
	position absolute
	color #c3c3c3
	font-family t-4
	opacity .08
	font-size calc(100px + (290 - 100) * ((100vw - 320px) / (1920 - 320)))
	letter-spacing -15px
	@media screen and (max-width 1024px)
		display none
.b5home_text_top
	top 200px
.b5home_text_button
	bottom 0
	right 0
