.b6home
	width 100%
	height 100vh
	background c-5
	padding 60px 0px
	display flex
	align-items center
	box-sizing border-box
	position relative
	&:before, &:after
		content ''
		width 50%
		height 93.149%
		position absolute
		backgroundsize(center,center)
	&:before
		background-image url('../img/b6home-deco1.png')
		top 0
		left 0
	&:after
		background-image url('../img/b6home-deco2.png')
		top 0
		right 0
		bottom 0
		margin auto
	@media screen and (max-width 1024px)
		height auto
		display block
		align-items inherit
		padding 140px 0px 60px 0px

.b6home_container
	width 100%
	padding-left 142px
	box-sizing border-box
	position relative
	z-index 2
	@media screen and (max-width 1024px)
		padding-left 20px
	@media screen and (max-width 767px)
		padding-left 15px

.b6home_title_box
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content flex-start
	align-items center
	max-width 895px
	width 100%
	margin 0
	margin-bottom -40px
	@media screen and (max-width 1024px)
		max-width 750px
		margin-bottom -30px
	@media screen and (max-width 767px)
		margin-bottom 30px

.b6home_title
	width calc(100% - 102px)
	opacity 0.08
	h2
		font-family t-3
		font-size 100px
		color negro
		line-height 0.73
		letter-spacing -1.3px
		margin 0
	@media screen and (min-width 1025px)
		transition all 1s linear
	@media screen and (max-width 1024px)
		h2
			font-size 80px
	@media screen and (max-width 767px)
		width 100%
		h2
			font-size 60px
	@media screen and (max-width 520px)
		h2
			font-size 50px

.b6home_arrows
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content flex-start
	align-items center
	@media screen and (max-width 767px)
		margin-top 20px

.b6home_prev, .b6home_next
	font-size 31px
	color c-3
	margin 0px 10px
	cursor pointer
	transition all .3s ease-in-out
	span
		display block
	@media screen and (min-width 1025px)
		&:hover
			color negro
	@media screen and (max-width 767px)
		font-size 25px

.b6home_content
	width 100%
	box-sizing border-box

.b6home_slider_item
	margin 0px 38px
	padding 20px 0px 30px
	&.slick-current
		.b6home_slider_info
			opacity 1
	@media screen and (max-width 1024px)
		margin 0px 15px
	@media screen and (max-width 767px)
		padding 15px 0px 25px
	@media screen and (max-width 480px)
		margin 0px 8px
		padding 15px 0px 15px

.b6home_slider_info
	background blanco
	border-radius 30px
	padding 57px 50px 66px
	box-shadow 5px 6px 21px 0 rgba(0, 0, 0, 0.11)
	box-sizing border-box
	opacity 0.15
	transition all .3s ease-in-out
	@media screen and (max-width 767px)
		padding 40px 30px

.b6home_slider_img
	max-width 94px
	width 100%
	margin 0
	img
		img-res()
	@media screen and (max-width 767px)
		max-width 78px

.b6home_slider_text
	font-family t-0
	font-size 20px
	color c-0
	padding-top 10px
	p
		margin 0
	@media screen and (max-width 1024px)
		font-size 16px
	@media screen and (max-width 480px)
		font-size 14px

.b6home_slider_name
	padding-top 20px
	font-family t-1
	font-size 14px
	color c-3
	p
		margin 0
