.b7home
	@media screen and (max-width 1024px)
		padding 140px 0px 60px 0px

.b7home.active
	@media screen and (min-width 1025px)
		.b7home_title h2
			opacity .08
			visibility visible
			transform translateX(0px)

		.b7home_buttons
			opacity 1
			visibility visible
			transform translateY(0px)

		.b7home_down
			opacity 1
			visibility visible

		.b7home_slider:before
			width 0%

.b7home_full
	display flex
	flex-direction column
	justify-content center
	width 100%
	height 100vh
	@media screen and (max-width 1024px)
		height auto

.b7home_up
	@media screen and (min-width 1025px)
		transition all 1s linear

.b7home_head
	max-width 1400px
	min-height 55px
	position relative
	@media screen and (max-width 1460px)
		min-height 45px
	@media screen and (max-width 767px)
		min-height inherit

.b7home_title
	position absolute
	top -20px
	left 0
	@media screen and (max-width 768px)
		top -30px
	@media screen and (max-width 767px)
		position relative
		top inherit
		left inherit
		margin-bottom 30px

	h2
		line-height 73px
		letter-spacing -1.25px
		color negro
		font-family t-3
		font-weight normal
		font-size 100px
		opacity .08
		margin 0
		@media screen and (max-width 1460px)
			line-height 1
			font-size 80px
		@media screen and (max-width 767px)
			font-size 60px

		@media screen and (min-width 1025px)
			opacity 0
			visibility hidden
			transform translateX(-100px)
			transition all 1s cubic-bezier(0.68, -0.45, 0.165, 1.35)

.b7home_buttons
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	@media screen and (min-width 1025px)
		opacity 0
		visibility hidden
		transform translateY(-100px)
		transition all 2.5s cubic-bezier(0.68, -0.45, 0.165, 1.35)

.b7home_btn
	display block
	line-height 1
	color c-4
	font-family t-2
	font-size 16px
	border-right 1px solid c-3
	transition all .25s ease-in-out
	padding 0 20px
	margin 0
	&.active
		color c-3
	&:hover
		@media screen and (min-width 1025px)
			color c-3
	&:last-child
		border-right none

.b7home_down
	position relative
	@media screen and (max-width 768px)
		margin-top 20px

	@media screen and (min-width 1025px)
		opacity 0
		visibility hidden
		transition all 2s linear

.b7home_block
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	align-items center
	width 100%
	opacity 0
	visibility hidden
	position absolute
	top 0
	left 0
	&.active
		opacity 1
		visibility visible
		position relative

.b7home_left
	width 24.088541666666668%
	margin 0
	@media screen and (max-width 768px)
		width 20%
	@media screen and (max-width 767px)
		display none

	.b7home_arrow
		position relative
		&:before
			content ""
			width 100%
			height 100%
			background #f2f2f2
			position absolute
			top 0
			left 0
			z-index 2
			opacity .93

.b7home_center
	width 51.822916666666664%
	position relative
	margin 0
	@media screen and (max-width 768px)
		width 60%
	@media screen and (max-width 767px)
		width 100%

	&:after
		content ""
		width 116px
		height 115px
		border-radius 50%
		border 10px solid #00ffcb
		position absolute
		right 60px
		bottom -44px
		@media screen and (max-width 1024px)
			width 80px
			height 80px
			border 7px solid #00ffcb
			right 25px
			bottom -25px
		@media screen and (max-width 768px)
			width 60px
			height 60px
			border 5px solid #00ffcb
			right 10px
			bottom -20px
		@media screen and (max-width 767px)
			right 0

	.b7home_arrow
		@media screen and (max-width 768px)
			display none !important

.b7home_right
	width 24.088541666666668%
	margin 0
	@media screen and (max-width 768px)
		width 20%
	@media screen and (max-width 767px)
		display none

	.b7home_arrow
		position relative
		&:before
			content ""
			width 100%
			height 100%
			background #f2f2f2
			position absolute
			top 0
			left 0
			z-index 2
			opacity .93

.b7home_slider
	width calc(100% - 204px)
	height 466px
	overflow hidden
	box-shadow 20px 30px 60px 0 rgba(0, 0, 0, 0.2)
	position relative
	z-index 2
	margin 0 auto
	@media screen and (max-width 1460px)
		height 350px
	@media screen and (max-width 1024px)
		width calc(100% - 120px)
		box-shadow none
	@media screen and (max-width 768px)
		width calc(100% - 60px)
	@media screen and (max-width 767px)
		width 100%

	&:before
		@media screen and (min-width 1025px)
			content ""
			width 100%
			height 100%
			background blanco
			opacity 1
			visibility visible
			transition all 1.5s ease-in-out 1.5s
			position absolute
			top 0
			right 0
			z-index 100

.b7home_itembox
	display block
	width 100%
	height 466px
	background-position center
	background-repeat no-repeat
	background-size cover
	position relative
	margin 0 auto
	@media screen and (max-width 1460px)
		height 350px

.b7home_play
	display block
	width 78px
	height 78px
	border-radius 50%
	background c-5
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	@media screen and (max-width 1024px)
		width 60px
		height 60px
	@media screen and (max-width 767px)
		width 50px
		height 50px

	&:before
		content ""
		width 0
		height 0
		border-style solid
		border-width 17px 0 17px 22px
		border-color transparent transparent transparent blanco
		position absolute
		top 0
		right 0
		bottom 0
		left 5px
		margin auto
		@media screen and (max-width 1024px)
			border-width 12px 0 12px 17px
		@media screen and (max-width 767px)
			border-width 10px 0 10px 15px

.b7home_boxprev,
.b7home_boxnext
	width 46px
	height 46px
	position absolute
	top 0
	bottom 0
	margin auto
	@media screen and (max-width 1024px)
		width 36px
		height 36px

	span
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 100%
		height 100%
		color c-3
		font-size 42px
		opacity .34
		@media screen and (min-width 1025px)
			transition all .25s ease-in-out
			&:hover
				opacity 1
		@media screen and (max-width 1024px)
			font-size 32px

.b7home_boxprev
	left 40px
	@media screen and (max-width 1024px)
		left 10px

	span:before
		content "\e90c"
		font-family icomoon

.b7home_boxnext
	right 40px
	@media screen and (max-width 1024px)
		right 10px

	span:before
		content "\e906"
		font-family icomoon

.b7home_arrow
	cursor pointer

.b7home_bg
	display block
	width 100%
	height 400px
	background-position center
	background-repeat no-repeat
	background-size cover
	position relative
	margin 0
	@media screen and (max-width 1460px)
		height 300px
