.b8home
	@media screen and (max-width 1024px)
		padding 60px 0
	@media screen and (max-width 767px)
		overflow hidden
		padding 50px 0

.b8home.active
	@media screen and (min-width 1025px)
		.b8home_title
			opacity 1
			visibility visible
			transform translateY(0px)

		.b8home_form
			opacity 1
			visibility visible
			transform translateY(0px)

		.b8home_right:after
			opacity 1

		.b8home_social:before
			width 0%

.b8home_full
	display flex
	flex-direction column
	justify-content center
	width 100%
	height 100vh
	@media screen and (max-width 1024px)
		height auto

.b8home_container
	max-width 1400px

.b8home_columns
	display flex
	flex-direction row
	flex-wrap wrap
	align-items center
	justify-content space-between
	max-width 1273px
	width 100%
	margin 0
	@media screen and (max-width 1460px)
		max-width 1150px
	@media screen and (max-width 767px)
		flex-direction column
		justify-content inherit
		align-items inherit

.b8home_left
	width 51.76747839748625%
	@media screen and (max-width 1460px)
		width 54%
	@media screen and (max-width 1024px)
		width 56%
	@media screen and (max-width 768px)
		width 52%
	@media screen and (max-width 767px)
		width 100%
		margin-bottom 50px

	@media screen and (min-width 1025px)
		transition all 1s linear

.b8home_right
	width 36.21366849960723%
	position relative
	box-sizing border-box
	padding-right 34px
	@media screen and (max-width 1460px)
		width 34%
		padding-right 24px
	@media screen and (max-width 1024px)
		width 36%
	@media screen and (max-width 768px)
		width 40%
	@media screen and (max-width 767px)
		width 100%
		padding-right 0

	@media screen and (min-width 1025px)
		transition all .7s linear

	&:after
		content ""
		display block
		width 126px
		height 125px
		border-radius 50%
		border 10px solid #3a559f
		box-sizing border-box
		position absolute
		right 0
		bottom -43px
		@media screen and (max-width 1460px)
			width 100px
			height 100px
			border-bottom -30px
			border 7px solid #3a559f
		@media screen and (max-width 767px)
			width 80px
			height 80px
			bottom -25px
			right -5px
			border 5px solid #3a559f

		@media screen and (min-width 1025px)
			opacity 0
			transition all .7s ease-in-out 1.5s

.b8home_title
	@media screen and (min-width 1025px)
		opacity 0
		visibility hidden
		transform translateY(100px)
		transition all 1s cubic-bezier(0.68, -0.45, 0.165, 1.35)

	h2
		line-height 73px
		letter-spacing -1.25px
		color rgba(negro, .08)
		font-family t-3
		font-size 100px
		margin 0
		@media screen and (max-width 1460px)
			font-size 80px
		@media screen and (max-width 767px)
			font-size 60px

.b8home_form
	max-width 605px
	width 100%
	background blanco
	box-shadow 20px 20px 60px 0 rgba(0, 0, 0, 0.14)
	position relative
	z-index 2
	box-sizing border-box
	padding 46px 15px 57px 15px
	margin -15px 0 0 auto
	@media screen and (max-width 1460px)
		max-width none
		width calc(100% - 35px)
		box-shadow 10px 10px 30px 0 rgba(0, 0, 0, 0.14)
		padding 30px 20px 30px 20px
		margin-top -20px
	@media screen and (max-width 767px)
		width 100%
		margin-top 30px

	@media screen and (min-width 1025px)
		opacity 0
		visibility hidden
		transform translateY(100px)
		transition all 1s cubic-bezier(0.68, -0.45, 0.165, 1.35)

.b8home_envolver
	max-width 510px
	width 100%
	margin 0 auto
	@media screen and (max-width 1460px)
		max-width none

.b8home_texthead
	line-height 1.29
	color c-0
	font-family t-0
	font-size 14px
	margin-bottom 26px
	p
		margin 0
	@media screen and (max-width 1460px)
		margin-bottom 15px

.b8home_fields
	li
		margin-bottom 20px
		&:last-child
			margin-bottom 0

.b8home_field-up
	ul
		@media screen and (max-width 1460px)
			display flex
			flex-direction row
			flex-wrap wrap
	li
		@media screen and (max-width 1460px)
			width 49%
			margin-right 1%
			margin-bottom 10px
			&:nth-child(2)
				margin-right 0
			&:last-child
				width 100%
				margin-right 0
		@media screen and (max-width 768px)
			width 100%
			margin-right 0

.b8home_field-down
	margin-top 26px
	@media screen and (max-width 1460px)
		margin-top 20px

.b8home_input
	width 100%
	height 40px
	placeholder(#7a7a7a,t-1)
	input
		width 100%
		height 100%
		background blanco
		color negro
		font-family t-1
		font-size 14px
		border 1px solid #e4e4e4
		border-radius 24.5px
		appearance none
		box-sizing border-box
		padding 0 17px
		&:focus
			border 1px solid negro
		&.active
			border 1px solid negro

.b8home_textarea
	width 100%
	height 79px
	placeholder(#7a7a7a,t-1)
	@media screen and (max-width 1460px)
		height 60px
	textarea
		width 100%
		height 100%
		background blanco
		color negro
		font-family t-1
		font-size 14px
		border 1px solid #e4e4e4
		border-radius 24.5px
		appearance none
		box-sizing border-box
		padding 12px 17px
		&:focus
			border 1px solid negro
		&.active
			border 1px solid negro

.b8home_list_subtitle
	display block
	line-height 1
	color c-3
	font-family t-3
	font-size 14px
	margin 25px 0 0 0
	@media screen and (max-width 1460px)
		margin-top 20px

.b8home_list_text
	margin-top 10px
	ul
		@media screen and (max-width 1460px)
			column-count 2
			column-gap 30px
		@media screen and (max-width 768px)
			column-count 1
			column-gap 0

	li
		line-height 1.29
		color c-0
		font-family t-0
		font-size 14px
		position relative
		padding-left 10px
		&:before
			content "-"
			position absolute
			top 0
			left 0

.b8home_foot
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	align-items center
	margin-top 20px
	@media screen and (max-width 1460px)
		margin-top 10px
	@media screen and (max-width 768px)
		flex-direction column
		justify-content inherit
		align-items center

.b8home_terms
	position relative
	input[type="checkbox"]
		opacity 0
		visibility hidden
		position absolute
		top 0
		left 0
		&:checked + label
			.b8home_checkbox_square:before
				opacity 1
				visibility visible
	@media screen and (max-width 768px)
		width 100%
		margin-top 15px
		margin-bottom 20px

.b8home_checkbox
	display flex
	flex-direction row
	flex-wrap wrap
	align-items center

.b8home_checkbox_square
	display block
	width 18px
	height 18px
	background blanco
	border 1px solid c-5
	position relative
	box-sizing border-box
	margin 0 9px 0 0
	&:before
		content ""
		display block
		width 12px
		height 12px
		background c-5
		opacity 0
		visibility hidden
		transition all .25s ease-in-out
		position absolute
		top 0
		left 0
		bottom 0
		right 0
		margin auto

.b8home_checkbox_text
	line-height 1
	color c-0
	font-family t-1
	font-size 12px
	p
		margin 0
	a
		color negro
		text-decoration underline

.b8home_btn
	display inline-block
	line-height 1
	background-color c-5
	color #2d2d2d
	font-family t-3
	font-size 16px
	border none
	border-radius 25px
	appearance none
	cursor pointer
	box-shadow 0 2px 4px 0 rgba(#aeaeae, .5)
	transition transform ease-in 0.1s, box-shadow ease-in 0.25s
	position relative
	padding 17px 77px
	&:active
		transform scale(0.9)
		background-color c-6
		box-shadow 0 2px 4px 0 rgba(#aeaeae, 0.2)

.b8home_social
	display block
	overflow hidden
	border-radius 15px
	box-shadow 20px 20px 60px 0 rgba(0, 0, 0, 0.14)
	position relative
	z-index 2
	@media screen and (max-width 1460px)
		box-shadow 10px 10px 30px 0 rgba(0, 0, 0, 0.14)

	&:before
		@media screen and (min-width 1025px)
			content ""
			width 100%
			height 100%
			background blanco
			transition width .7s linear .6s
			position absolute
			top 0
			right 0
			z-index 2


.b8home_social_img
	width 100%
	img
		display block
		width 100%
		height auto

.b8home_social_info
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	align-items center
	height 68px
	background blanco
	padding 0 30px
	@media screen and (max-width 767px)
		flex-direction column
		justify-content inherit
		align-items inherit
		height auto
		padding 15px 20px

.b8home_social_lef
	display flex
	flex-direction row
	flex-wrap wrap
	align-items center
	@media screen and (max-width 767px)
		margin-bottom 15px

.b8home_social_iconfb
	display block
	line-height 1
	color #3a559f
	font-size 20px
	margin 0 8px 0 0

.b8home_social_textfb
	display block
	line-height 1
	color negro
	font-family t-1
	font-size 12px
	margin 0

.b8home_social_right
	display flex
	flex-direction row
	flex-wrap wrap
	align-items center

.b8home_social_box
	display flex
	flex-direction row
	flex-wrap wrap
	align-items center
	margin-right 17px
	&:last-child
		margin-right 0

.b8home_social_iconmini
	width 19px
	margin 0 10px 0 0
	img
		display block
		width 100%
		height auto

.b8home_social_nummbertext
	display block
	line-height 1
	color c-3
	font-family t-1
	font-size 12px
	margin 0
