.error_404
	width 100%
	height 100vh
	display flex
	align-items center
	justify-content center
	text-align center
	@media screen and (max-width 1024px)
		padding 100px 0px
		height auto
.error_404_text_top
	max-width 420px
	width 100%
	margin auto
	margin-bottom 20px
	display block
	img
		img-res()
.error_404_title
	padding-bottom 20px
	h2
		color c-1
		font-weight normal
		font-family t-3
.error_404_text
	font-size 20px
	padding-bottom 40px
	p
		margin 0
.error_404_btn
	a
		color c-3
		height 50px
		line-height 50px
		font-size 16px
		font-family t-3
		padding 0px 60px
		background-color c-5
		border-radius 25px
		box-shadow 0 2px 4px 0 #aeaeae
		transition transform ease-in 0.1s
		&:active
			background-color c-6
			transform scale(0.9)
