// +++ style validation +++
.formError
	z-index 90
	.formErrorContent,
	.formErrorArrow div
		background-color c-2
		color blanco
		border none
		font-size 12px
		font-family t-0
	.formErrorArrow
		.line1,.line2,.line3
			display none
// <<< end >>>