.terms
	max-width 793px
	width 94%
	background blanco
	box-shadow 1px 1px 18px -2px rgba(0, 0, 0, 0.08)
	box-sizing border-box
	padding 60px 0 57px 0
	margin 0 auto
	@media screen and (max-width 1024px)
		padding 50px 15px
	@media screen and (max-width 767px)
		padding 40px 15px

	.close-boxlight
		width 40px
		height 40px
		line-height 1
		border none
		border-radius 0
		top 18px
		right 18px
		@media screen and (max-width 767px)
			top 10px
			right 10px

	.close-boxlight:before
		content "\e90b"
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 100%
		height 100%
		color negro
		font-family icomoon
		font-size 40px
		position absolute
		top 0
		left 0
		@media screen and (max-width 767px)
			font-size 30px

	.close-boxlight:after
		display none

.terms_content
	max-width 587px
	width 100%
	margin 0 auto

.terms_title
	margin-bottom 48px
	@media screen and (max-width 1024px)
		margin-bottom 40px

	h2
		line-height 1
		color negro
		font-family t-3
		font-size 40px
		font-weight normal
		margin 0
		@media screen and (max-width 1024px)
			font-size 32px
		@media screen and (max-width 767px)
			font-size 26px

.terms_text
	line-height 1.4
	height 244px
	overflow auto
	color negro
	font-family t-1
	font-size 16px
	text-align justify
	padding-right 40px
	p
		margin 0
	@media screen and (max-width 1024px)
		font-size 15px
		padding-right 20px
	@media screen and (max-width 767px)
		font-size 14px
		padding-right 0