.footer
	position relative

.footer:before
	content ""
	width 100%
	height calc(100% - 30px)
	background negro
	position absolute
	left 0
	bottom 0
	@media screen and (max-width 1024px)
		height calc(100% - 25px)
	@media screen and (max-width 767px)
		height calc(100% - 20px)

.footer_content
	position relative
	z-index 2

.footer_up
	padding 0 0 40px 0
	@media screen and (max-width 767px)
		padding-bottom 30px

.footer_social
	margin-bottom 55px
	@media screen and (max-width 1024px)
		margin-bottom 40px

	ul
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content center
	li
		margin 0 22px
		@media screen and (max-width 1024px)
			margin 0 15px
		@media screen and (max-width 767px)
			margin 0 10px

	a
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 60px
		height 60px
		background blanco
		color negro
		border 3px solid c-8
		border-radius 50%
		transition all .25s ease-in-out
		box-sizing border-box
		@media screen and (min-width 1025px)
			&:hover
				background c-5

		@media screen and (max-width 1024px)
			width 50px
			height 50px
			border 2px solid c-8
		@media screen and (max-width 767px)
			width 40px
			height 40px

	a.footer_facebook
		font-size 30px
		@media screen and (max-width 1024px)
			font-size 24px
		@media screen and (max-width 767px)
			font-size 20px

	a.footer_youtube
		font-size 30px
		@media screen and (max-width 1024px)
			font-size 24px
		@media screen and (max-width 767px)
			font-size 20px

	a.footer_instagram
		font-size 31px
		@media screen and (max-width 1024px)
			font-size 25px
		@media screen and (max-width 767px)
			font-size 21px

.footer_title
	display block
	line-height 1
	letter-spacing -0.4px
	color blanco
	font-family t-3
	font-size 30px
	margin 0
	@media screen and (max-width 1024px)
		font-size 26px
	@media screen and (max-width 767px)
		font-size 22px
		margin-bottom 30px

.footer_info
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	width 65.83333333333333%
	margin 0 auto
	@media screen and (max-width 1024px)
		width 75%
	@media screen and (max-width 960px)
		width 90%
	@media screen and (max-width 767px)
		width 100%
		flex-direction column
		justify-content inherit
		align-items center

.footer_data
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	width 64.55696202531645%
	@media screen and (max-width 767px)
		width 100%
		justify-content center
	@media screen and (max-width 480px)
		flex-direction column
		justify-content inherit
		align-items center

.footer_wsp
	display flex
	flex-direction row
	flex-wrap wrap
	align-items center
	margin 0
	@media screen and (max-width 767px)
		margin 0 15px
	@media screen and (max-width 480px)
		margin-bottom 15px
	@media screen and (min-width 1024px)
		&:hover
			.footer_wsp_icon, .footer_wsp_text
				color c-6
				transition all .45s ease-in
.footer_wsp_icon
	display block
	line-height 1
	color blanco
	font-size 24px
	margin 0 20px 0 0
	@media screen and (max-width 1024px)
		font-size 22px
	@media screen and (max-width 767px)
		font-size 20px
		margin-right 10px

.footer_wsp_text
	line-height 1
	display block
	color blanco
	font-family t-3
	font-size 20px
	margin 0
	@media screen and (max-width 1024px)
		font-size 18px
	@media screen and (max-width 767px)
		font-size 16px

.footer_email
	display flex
	flex-direction row
	flex-wrap wrap
	align-items center
	margin 0
	@media screen and (max-width 767px)
		margin 0 15px
	@media screen and (min-width 1024px)
		&:hover
			.footer_email_text, .footer_email_icon
				color c-6
				transition all .45s ease-in
.footer_email_icon
	display block
	line-height 1
	color blanco
	font-size 25px
	margin 0 20px 0 0
	@media screen and (max-width 1024px)
		font-size 22px
	@media screen and (max-width 767px)
		font-size 20px
		margin-right 10px

.footer_email_text
	display block
	line-height 1
	color blanco
	font-family t-1
	font-size 20px
	margin 0
	@media screen and (max-width 1024px)
		font-size 18px
	@media screen and (max-width 767px)
		font-size 16px

.footer_down
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	align-items center
	border-top 1px solid rgba(#ffffff, .24)
	padding 11px 0 15px 0
	@media screen and (max-width 767px)
		flex-direction column
		justify-content inherit
		text-align center

.footer_left
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	align-items center
	width 58.333333333333336%
	@media screen and (max-width 1024px)
		width 70%
	@media screen and (max-width 767px)
		width 100%
		flex-direction column
		justify-content inherit
		margin-bottom 10px

.footer_terms
	display block
	line-height 1
	color blanco
	font-family t-1
	font-size 12px
	text-decoration underline
	margin 0
	@media screen and (max-width 767px)
		margin-bottom 10px

.footer_copyright
	line-height 1
	color blanco
	font-family t-1
	font-size 12px
	p
		margin 0
	@media screen and (max-width 767px)
		line-height 1.4

.footer_team
	line-height 1
	color blanco
	font-family t-1
	font-size 12px
	p
		margin 0

.footer_team_icon
	display inline-block
	vertical-align top
	color c-5
	animation heart 1s linear infinite


@keyframes heart
	0%
		transform translateY(-3px)
	25%
		transform translateY(3px)
	50%
		transform translateY(-3px)
	75%
		transform translateY(3px)
	100%
		transform translateY(-3px)
