.header
	width 100%
	opacity 1
	visibility visible
	@media screen and (min-width 1025px)
		&.scroll_section
			opacity 0
			visibility hidden
.head_fixed
	position fixed
	width 100%
	left 0
	top 0
	z-index 300
	padding 0px 79px
	box-sizing border-box
	@media screen and (max-width 1400px)
		padding 0px 20px
	@media screen and (max-width 1024px)
		padding 0px 60px 0px 20px
.head_container
	displayflex(space-between,center)
.head_logo
	width 171px
	display inline-block
	margin 0
	margin-top 14px
	img
		img-res()
	@media screen and (max-width 1024px)
		width 125px
.head_nav
	displayflex(flex-start,center)
.head_box_item
	displayflex(flex-start,center)
	border-radius 47px
	overflow hidden
	padding 0px 20px 0px 0px
	height 80px
	transition all .3s ease-in
	@media screen and (max-width 1024px)
		display none
	&.scroll
		background-color #0a162e

.head_nav_link
	ul
		displayflex(flex-start,center)
		a
			font-size 15px
			font-family t-2
			color blanco
			display block
			margin-left 40px
			&:before
				content '+'
				display inline-block
				padding-right 5px
			@media screen and (min-width 1024px)
				transition all ease-in 0.2s
				&:hover
					color c-5
					opacity 1
	li
		&.active
			a
				color c-5

	&:hover
		a:not(:hover)
			opacity .4
.head_nav_link_submenu_responsive
	display none
	a
		opacity .48
		font-size 30px
	&.active
		display block

.head_btn_contacto
	padding-left 54px
	height 50px
	a
		height 50px
		font-size 15px
		font-family t-2
		line-height 50px
		padding 0px 30px
		color negro
		background-color c-5
		border-radius 31px
		overflow hidden
		text-align center
		transition transform ease-in 0.1s
		transform scale(1)
		box-sizing border-box
		&:active
			transform scale(0.9)
			background-color c-6

.head_btn_whatsapp
	padding-left 44px
	@media screen and (max-width 1024px)
		padding-left 0

.header_none
	.menu_btn_responsive, .bg_menu
		display none
	.header
		display none
	.footer
		display none

// MENU RESPONSIVE
.bg_menu
	position fixed
	top 20px
	right 15px
	width 35px
	height 35px
	border-radius 50%
	background-color #0a162e
	display none
	transition all .4s ease-in-out .1s
	z-index 500
	@media screen and (max-width 1024px)
		display block
	&.active
		top -50%
		right -50%
		width 300%
		height 300%






.menu_btn_responsive
	display none
	z-index 520
	position fixed
	top 20px
	right 15px
	width 35px
	height 35px
	border-radius 50%
	cursor pointer
	overflow hidden
	@media screen and (max-width 1024px)
		display block
.btn_openMenu
	width 100%
	display block
	.line
		fill none
		stroke #ffc805
		stroke-width 4
		stroke-linecap square
		transition stroke-dasharray 800ms,  stroke-dashoffset 800ms
	.line.top
		stroke-dasharray 40 172

	.line.middle
		stroke-dasharray 40 111

	.line.bottom
		stroke-dasharray 40 172
	&.active
		.top
			stroke-dashoffset -132px
		.middle
			stroke-dashoffset -71px
		.bottom
			stroke-dashoffset -132px


.menu_responsive
	position fixed
	top 0
	left 0
	// background-color #0a162e
	height 100%
	width 100%
	z-index 500
	overflow auto
	display none
	&.active
		display block
.inner_items_responsive
	padding 100px 0px
.nav_responsive
	text-align center
	display flex
	flex-direction column
	li
		position relative
		animation fadeInRight .5s ease forwards
		animation-delay .35s
		opacity 0
		&:nth-child(2)
			animation-delay .4s
		&:nth-child(3)
			animation-delay .45s
		&:nth-child(4)
			animation-delay .50s
		&.active
			.linkJs
				color c-5
	a
		color blanco
		display block
		font-size calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)))
		font-family t-3
		margin-bottom 40px
		&:before
			content '+'
			color #f3cf4e
			display inline-block
			padding-right 5px



.btn_responsive_contacto
	text-align center
	padding 0
	position relative
	animation fadeInRight .5s ease forwards
	animation-delay .55s
	opacity 0
@keyframes fadeInRight
	0%
		opacity 0
		left 20%

	100%
		opacity 1
		left 0
