@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?27bff4');
  src:  url('fonts/icomoon.eot?27bff4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?27bff4') format('truetype'),
    url('fonts/icomoon.woff?27bff4') format('woff'),
    url('fonts/icomoon.svg?27bff4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev:before {
  content: "\e90c";
}
.icon-close2:before {
  content: "\e90b";
}
.icon-corazon:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e900";
}
.icon-fb:before {
  content: "\e901";
}
.icon-fb2:before {
  content: "\e902";
}
.icon-itg:before {
  content: "\e903";
}
.icon-mouse:before {
  content: "\e904";
}
.icon-circle:before {
  content: "\e905";
}
.icon-next:before {
  content: "\e906";
}
.icon-wts:before {
  content: "\e907";
}
.icon-closed:before {
  content: "\e908";
}
.icon-yt:before {
  content: "\e909";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
}
.icon-youtube1:before {
  content: "\e601";
}
