@font-face {
  font-family: 'SFProDisplay-Light';
  src: url('../fonts/SFProDisplay-Light.eot');
  src: url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SFProDisplay-Light.svg#SFProDisplay-Light') format('svg'),
       url('../fonts/SFProDisplay-Light.ttf') format('truetype'),
       url('../fonts/SFProDisplay-Light.woff') format('woff'),
       url('../fonts/SFProDisplay-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('../fonts/SFProDisplay-Regular.eot');
  src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg'),
       url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
       url('../fonts/SFProDisplay-Regular.woff') format('woff'),
       url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('../fonts/SFProDisplay-Medium.eot');
  src: url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg'),
       url('../fonts/SFProDisplay-Medium.ttf') format('truetype'),
       url('../fonts/SFProDisplay-Medium.woff') format('woff'),
       url('../fonts/SFProDisplay-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url('../fonts/SFProDisplay-Bold.eot');
  src: url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg'),
       url('../fonts/SFProDisplay-Bold.ttf') format('truetype'),
       url('../fonts/SFProDisplay-Bold.woff') format('woff'),
       url('../fonts/SFProDisplay-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Heavy';
  src: url('../fonts/SFProDisplay-Heavy.eot');
  src: url('../fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SFProDisplay-Heavy.svg#SFProDisplay-Heavy') format('svg'),
       url('../fonts/SFProDisplay-Heavy.ttf') format('truetype'),
       url('../fonts/SFProDisplay-Heavy.woff') format('woff'),
       url('../fonts/SFProDisplay-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}